/***********************************************************/
/* Override Bootstrap Classes */
/***********************************************************/
.container {
  width: 95%;
}

/***********************************************************/
/* Custom Classes */
/***********************************************************/

.headerArea {
  padding: .7em;
  background-color: gray;
  color: white;
  font-size: large;
}
